.container-fluid{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0;
}
.header{
    text-align: center;
    background-color: darkslategrey;
    color: aliceblue;
    padding: 10px;
    margin: 0%;
}
.row{
    text-align: center;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.border-dotted{
    margin-top: 2rem;
    border-top: 1px dotted black;
}

.t-cadastrada{
    
    margin-top: 2rem;
}

#form-tarefa{
    align-items: center;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.dropdown-menu{
    text-align: center;
}

#label{
    text-align: left;
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

footer{
    text-align: center;
    color: aliceblue;
    background-color: darkslategrey;
}