body{
    background: lightseagreen;
    font-family: monospace;
}
main{
    border: 1px solid green;
    border-radius: 1rem;
    padding: 20;
}

#form-filme{
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

#list-filme{
    list-style: none;
}

#list-filme li{
    font-size: 1.3rem;
}
